.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px;
  margin: 80px 0 20px;
  border-radius: 10px;
  background-color: #304ffe;
  color: #fff;
  gap: 20px;
}

.desc {
  width: 70%;
  text-align: justify;

}

.desc h3 {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.social {
  margin-left: 50px;
}

@media (max-width: 768px) {
  .social {
    margin-left: 10px;
  }
}

@media (max-width: 576px) {
  .footer {
    flex-wrap: wrap;
  }

  .desc {
    width: 100%;
  }

  .social {
    margin-right: 15px;
  }
}